
@{
    ViewData["Title"] = "Email Confirmation";
    string StatusMessage = ViewBag.StatusMessage;
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>@StatusMessage</p>
<partial name="_StatusMessage" model="StatusMessage"></partial>


