@model OMS_App.Areas.Admin.Role.Models.CreateViewModel;
@{
    ViewData["Title"] = "Create";
}

<h1>Create a new Role</h1>
<div>
    <partial name="_StatusMessage" model="@TempData["StatusMessage"]"></partial>

    <div>
        <section>
            <form id="account" method="post" class="row g-2">

                <div class="col-9">
                    <input asp-for="RoleName" class="form-control" placeholder="Enter Role Name">
                    <span asp-validation-for="RoleName" class="text-danger ms-2"></span>
                </div>

                <div class="col-2">
                    <button type="submit" class="w-100 btn btn-md btn-primary">Create</button>
                </div>
            </form>
        </section>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
