@model OMS_App.Areas.Post.Models.Post

@{
    ViewData["Title"] = "Delete Post";
    Layout = "_Layout";
   
}
<h1> @ViewData["Title"]</h1>
<h4> Tạo danh mục sản phẩm</h4>
<row>
    <p>@Model.Title</p>
</row>
<row>
    @Html.Raw(Model.Content1)
</row>
<form method="post">

    <button class="text-danger" type="submit">Delete</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}