@using OMS_App.Areas.Identity.Controllers;
@using OMS_App.Areas.Identity.Models;
@model ChangePasswordViewModel
@{
    ViewData["Title"]="Change Password";
    ViewData["ActivePage"]=ManageNavView.ChangePassword;
}
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" model="@ViewBag.StatusMessage"></partial>
<div class="row">
    <div class="col-md-3">
        <form method="post" id="change-password-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="OldPassword" class="form-control" placeholder="Please enter your old password">
                <label asp-for="OldPassword" class="form-label"></label>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="NewPassword" class="form-control" placeholder="Please enter your new password">
                <label asp-for="NewPassword" class="form-label"></label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Please confirm your new password">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="=submit" asp-action="ChangePassword" asp-controller="ManagerController" class="w-100 btn btn-lg btn-primary">Save</button>
            
        </form>
    </div>
</div>